<%- include('../ejslayouts/head.ejs') %>
    </head>

    <body>
        <%- include('../ejslayouts/navgaation.ejs') %>
        <main>
            <h1>Nothing there!</h1>
        </main>
        <%- include('../ejslayouts/end.ejs') %>