<%- include('../ejslayouts/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../ejslayouts/navgaation.ejs')%>
    <main>
        <h1>Nothing For Now!</h1>
    </main>
    <%- include('../ejslayouts/end.ejs') %>
